@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,300;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 0.1%;
}

b {
  font-size: 22px;
}

p {
  font-size: 19px;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.padding-3 {
  padding: 3rem;
}

.margin-2x0 {
  margin: 2rem 0;
}

.padding-top {
  padding-top: 4.5rem;
}

.font-size {
  font-size: 17px;
  text-align: center;
}

.container-width {
  max-width: 1024px;
  margin: 0 auto;
}

.margin-1 {
  margin: 1rem;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid #fff;
  padding: 1rem;
}

.cursor {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.border-radius {
  border-radius: 10px;
}

.font-bold {
  font-weight: bold;
}

/* grid */
.grid-1x2 {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.grid-1x3 {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  align-content: center;
}

/* header  */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.navlist {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.navlist > li {
  transition: all 0.4s linear;
}

.navlist > li:hover {
  color: goldenrod;
}

.toggler-btn {
  border: none;
  background-color: inherit;
  display: none;
}

/* home component  */

.img-logo {
  width: 50px;
}

.khmer {
  position: absolute;
}

.ralative {
  position: relative;
}

.icon-add {
  width: 60px;
  border-radius: 10px;
  height: 60px;
  position: absolute;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid #fff;
  position: absolute;
}

.flex {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.react-icon {
  left: 10%;
  z-index: 2;
}

.figma-icon {
  right: 0%;
  top: 65%;
}

.angula-icon {
  top: 80%;
  left: 9%;
}

.icon-add > img {
  width: 100%;
}

.hero-text {
  margin: 0 auto;
}

.no-line {
  line-height: 1.5rem;
}

.hero-img {
  max-width: 350px;
  margin: 0 auto;
}

.hero-img > img {
  width: 100%;
  object-fit: cover;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* end home  */

/* about  */

.ab-grid-1x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.about-image {
  margin: 0 auto;
}
.about-img {
  max-width: 395px;
}

.about-img > img {
  width: 100%;
  object-fit: fill;
}

.about-icon {
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
}

.about-icon > img {
  width: 100%;
  object-fit: fill;
  transition: all 0.4s ease-in-out;
}

.about-icon:hover {
  transform: scale(0.95);
}

.about-icon > img:hover {
  transform: scale(1.2);
}

/* btn  */
.button {
  width: 100%;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  font-size: 20px;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: gray;
}

.button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
  font-weight: bold;
}

.button:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}

/* skill  */

.line-s {
  line-height: 30px;
}

.grid-1x2-skills {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 15px;
}

.grid-1x2-skill {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.flex-skill {
  display: flex;
  margin: 1rem auto;
}

.icon-s {
  color: #1877f2;
}

.level {
  line-height: 18px;
}

.level > p {
  font-size: 15px;
}

/* services  */
#services {
  position: relative;
}

.service-icon {
  max-width: 150px;
}

.service-icon > img {
  width: 100%;
  object-fit: fill;
}

.flex-q {
  display: flex;
}

.flex-q > span {
  margin-top: 5px;
}

.card-view {
  margin: 1rem 0;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  font-size: 14px;
  padding-right: 15px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* cardServiced  */

.grid-1x3-s {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.toggler-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid dodgerblue;
  width: 95%;
  padding: .5rem;
  border-radius: 10px;
  z-index: 10;
}
.toggler-card.show {
  display: block;
}

.text-right {
  text-align: right;
}

.font-size-17 {
  font-size: 17px;
}

/* qualifications */

.card-q {
  margin-top: 1rem;
}

.q-p {
  margin-bottom: 15px;
  color: #494a4b;
  font-size: 18px;
}

.q-pi {
  display: flex;
  gap: 10px;
  margin: 0.5rem 0;
}

.q-pi > p {
  font-weight: bold;
  font-size: 25px;
}

.q-pi > div {
  margin-top: 3px;
}

.q-pi-1 {
  display: flex;
  gap: 5px;
  color: #494a4b;
  padding-bottom: 1rem;
}

.q-pi-1 > p {
  font-size: 15px;
  margin-top: -1px;
}

.line {
  padding: 0 30px;
  border-left: 2px solid #494a4b;
  position: relative;
}

.rounder {
  font-weight: bold;
}

.rounder::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #494a4b;
  right: calc(100% - 9px);
  top: 0;
}

.m-q {
  padding-bottom: 10px;
}

.img-q > img {
  width: 100%;
  object-fit: cover;
}

.q-ul > b {
  text-decoration: underline;
}

/* cards  */
.btn-link {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 1rem 0;
}

.m-card {
  max-width: 800px;
  margin: 0 auto;
}

.bg-card {
  background-color: #f5f5f5d0;
}

.btn-link > li {
  background-color: dodgerblue;
  color: #fff;
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.btn-link > li:hover {
  background-color: #fff;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.box-front {
  overflow: hidden;
  border-radius: 10px;
}

.box-front > img {
  width: 100%;
  object-fit: cover;
}

/* testimonial */

.card-scroll {
  display: grid;
  grid-auto-flow: column; /*តម្រៀបជាជួរដេក */
  scroll-behavior: auto;
  gap: 1.5rem; /*គម្លៀត*/
  overflow-y: auto; /*សញ្ញាសម្រាប់ Scroll */
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  padding: 1rem 2px;
}

.card-scroll::-webkit-scrollbar {
  display: none; /*Deleteសញ្ញាសម្រាប់ Scroll */
}

.card-scroll .scroll {
  scroll-snap-align: start;
}

.scroll {
  width: 400px;
}

.te-image {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #494a4b;
}

.te-image > img {
  width: 100%;
  object-fit: cover;
}

.tomny .te-image {
  border-radius: 50%;
}

.kakada .te-image {
  border-radius: 53% 47% 40% 60% / 68% 56% 44% 32%;
}

.jerry .te-image {
  border-radius: 55% 45% 35% 65% / 71% 55% 45% 29%;
}

.jenny .te-image {
  border-radius: 69% 31% 51% 49% / 28% 51% 49% 72%;
}

.sasa .te-image {
  border-radius: 58% 42% 67% 33% / 37% 69% 31% 63%;
}

/* contact  */
.form-input > input {
  display: block;
  padding: 1rem;
  width: 100%;
  outline: none;
  font-size: 16px;
  margin-bottom: 1rem;
  border: 2px solid gray;
  background-color: inherit;
}

/* footer  */
footer {
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer {
  display: flex;
  gap: 20px;
}

.f-icon {
  padding: 10px 13px;
  border-radius: 10px;
  background: grey;
  color: #fff;
}
/* animation */
.animation-border {
  animation: border-animation 4s infinite ease-in-out alternate;
}

@keyframes border-animation {
  0% {
    border-radius: 50%;
  }
  25% {
    border-radius: 59% 41% 55% 45% / 38% 50% 50% 62%;
  }
  50% {
    border-radius: 39% 61% 37% 63% / 63% 42% 58% 37%;
    transform: scale(0.95);
  }
  75% {
    border-radius: 71% 29% 47% 53% / 42% 60% 40% 58%;
  }
  100% {
    border-radius: 65% 35% 37% 63% / 52% 48% 52% 48%;
  }
}

.animation-icon1 {
  animation: icon-animation1 4s infinite ease-in-out alternate;
}

@keyframes icon-animation1 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(20%);
  }
}

.animation-icon2 {
  animation: icon-animation2 4s infinite ease-in-out alternate;
}

@keyframes icon-animation2 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(20%);
  }
}

/* responsive */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  ul {
    list-style: none;
    font-size: 20px;
  }
  /* navbar  */
  .header {
    flex-wrap: wrap;
  }

  .toggler-btn {
    display: block;
  }

  .navlist {
    width: 100%;
    flex-direction: column;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .navlist.active {
    height: 60vh;
    padding-top: 10px;
  }

  /* home  */
  .grid-1x2 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .hero-text {
    margin: 0 auto;
    text-align: center;
    grid-row: 2;
  }
  /* about  */

  .grid-1x3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-image {
    grid-row: 1;
  }
  /* skill  */
  .grid-1x2-skills {
    grid-template-columns: repeat(1, 1fr);
  }
  /* services */

  /* qualifications */
  .text-center-q {
    text-align: center;
  }
  /* card  */

  /* contact  */
  .input-card {
    text-align: center;
  }
}
